@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

@font-face {
    font-family: 'Proxima Nova Condensed';
    src: local('Proxima Nova Condensed Bold'), local('Proxima-Nova-Condensed-Bold'),
        url('ProximaNovaCond-Bold.woff2') format('woff2'),
        url('ProximaNovaCond-Bold.woff') format('woff'),
        url('ProximaNovaCond-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }